.mind-crawl { background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%); }
.midnight-boom {background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);}
.vicious-stance {background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);}
.eternal-constance {background-image: linear-gradient(36deg, #09203f 0%, #537895 100%);}
.morpheus-den {background-image: linear-gradient(to left, #30cfd0 0%, #330867 100%);}
